$hexagon-pattern: polygon(22% 0, 78% 0, 100% 50%, 78% 100%, 22% 100%, 0 50%);
$rubis-pattern: polygon(50% 0%, 73% 25%, 73% 75%, 50% 100%, 27% 75%, 27% 25%);
$diamond-pattern: polygon(50% 0%, 90% 25%, 50% 100%, 10% 25%);