// Primary colors
$primary-lagoon-light:#67CACE;
$primary-lagoon-dark: #54A5A8;

$primary-sun-bright: #FFB400;
$primary-sun-sunset: #F2AB00;

$primary-white: white;

// Secondary colors
$secondary-yellow: #FFD653;
$secondary-green: #7CDD61;
$secondary-pink: #FF89B0;
$secondary-blue: #70A8DA;
$secondary-orange: #FF934B;
$secondary-purple: #A749F5;

// Shade of grays
$gray-dark: #9B9B9B;
$gray-medium: #CFCFCF;
$gray-light: #D7D7D7;
$gray-bright: #F6F6F6;

// font color
$font-color: #444444;
$font-white: #FFFFFF;

// Transparent gray
$transparent-gray: rgba(0, 0, 0, 0.6);

// state
$state-warning: #FF6740;
$state-success: #6CB83A;
$state-info: #85B9BA;

// topbar
$topbar-bg: #FCFBF2;
$topbar-hover-color: #8CC73F;
